@model IEnumerable<Models.Monster>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listing Monsters</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bounty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Race)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Threat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bounty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Threat)
                    </td>
                    <td>
                        <input type="button" class="" onclick="location.href = '/Home/UpdateMonster?id=@item.MonsterID';" value="Update Monster" />
                        <input type="button" class="" onclick="location.href = '/Home/DeleteMonster?id=@item.MonsterID';" value="Delete Monster" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="button" class="" onclick="location.href='/Home/MonsterPage';" value="Back to Monster Page" />
    <input type="button" class="" onclick="location.href='/Home/Index';" value="Back to Main Page" />

</body>
</html>
