@model Models.Human



<form action="/Home/UpdateHuman" method="post">
    <input type="hidden" name="Name" value="@Model.Name" />
    <input type="hidden" name="Nationality" value="@Model.Nationality" />
    <input type="hidden" name="HumandID" value="@Model.HumandID" />

    Job: <input type="text" name="Job" value="@Model.Job" /> <br>
    Wage: <input type="number" name="Wage" value="@Model.Wage" /> <br>
    <input type="submit" name="" value="Update" class="myButton" /> <br>
</form>
<input type="button" class="myButton" onclick="location.href='/Home/HumanPage';" value="Back to Human Page" />
<input type="button" class="myButton" onclick="location.href='/Home/Index';" value="Back to Main Page" />
